@media (max-width: 767px) {
    #search-box2, #search-box2-icon {
        display: none !important;
    }
    .f-logo {
        width: 214.594px;
        height: 37.359px;
    }
    #search-box2-input {
        display: none;
    }
    #view-our-work2-arrow {
        display: none !important;
    }
    #our-services {
        position: relative;
        right: 13%;
    }
    footer p i {
        display: none;
    }
    #view-all-arrow {
        display: none;
    }
    #support-contact {
        display: none;
    }
}


@media (min-width: 768px) {
    #our-services-latest-news a:last-child {
        text-align: right;
    }
    .container {
        width:750px
    }
    #support-contact {
        display: none;
    }
    .search-box {
        display: none;
    }
    .f-logo {
        width: auto !important;
        height: auto;
    }
    #phone-button {
        display: none;
    }
    #nav-buttons {
        line-height: 0;
        margin-bottom: -10px;
        margin-right: 10px;
    }
    #search-box2, #search-box2-icon {
        display: flex;
    }
    #our-services {
        position: relative;
        right: 0;
    }

    #four-cards {
        display: grid;
        grid-template-areas: 
        "1 2"
        "3 4";
    }
    #view-our-work {
        display: none;
    }
    #why-choose-us-buttons, #reviews {
        display: flex;
        gap: 20px;
    }
    #jamie {
        display: none;
    }
    .our-services-latest-news {
        display: flex;
    }

    #two-cards {
        gap: 5%;
        text-wrap: wrap;
        display: flex;
        .minute-read {
            position: relative;
            top: 0px;
        }
        }
    #view-all {
        display: none;
        }
    #view-container2 {
        margin-top: -50px;
    }
    #sidebar-side {
        width: 61% !important;
    }
    #sidebar {
        width: 40% !important;
    }
    #information {
        width: 100vw;
        img {
            width: 50%;
        }
        .socials {
            display: flex;
            gap: 10px;
            .social-button {
                padding: 20px 25px;
            }
        }
        #about-section {
            display: grid;
            grid-template-areas: 
            "1 2"
            "3 4";
        }
    }
    footer {
        width: 100vw !important;
        p br {
        display: none;
        }
    }
    #view-all-arrow {
        color: $primary-color !important;
    }
    #welcome-to-netmatters {
        width: 100vw;
    }
    #bespoke-software-card .bespoke-break {
        display: none;
    }
    #cookie-policy {
        width: 80% !important;
        right: 0;
        bottom: 30%;
        height: 45%;
        margin: 0;
        #cookie-buttons {
            display: grid;
            grid-template-areas: 
            "1 1";
            gap: 20px;
            #accept-cookies {
                margin-top: 0;
            }
        }
    }
}



@media (min-width: 992px) {
    .container {
        width:970px
    }


    #bottom_nav {
        display: block !important;
    }
    #bottom-nav-list {
        display: flex !important;
        background: $primary-color;
        justify-content: space-around;
        padding: 0 10% 0 10%;
        height: 90px;
        text-align: center;
        li {
            list-style-type: none;
        }
        a  .bottom-span, small, p {
            position: relative;
            top: 18%;
            padding: 0 50px;
            text-decoration: none !important;
            width: 173px;
        }
        :hover {
            text-decoration: none;

        }
    }
   


    #cover-img {
        #bespoke-software-card .desktop-hidden {
            display: none;
        }
        text-align: left !important;
        h1, h2 {
            position: relative;
            left: 5%;
        }
        h1 {
            font-size: 65px;
        }
        h2 {
            font-size: 30px;
        }
    }
    #four-cards {
        gap: 20px;
    }
    #three-cards {
        display: flex;
        gap: 20px;
    }
    #contact-nav:hover, #search-box2-icon:hover {
        background-color: #7e808a !important;
    }
    #welcome-to-netmatters {
        display: flex;
        grid-template-columns: 
        "1 2";
    }
    #why-choose-us-buttons, #reviews {
        display: block;  
    }
    #about-section {
        display: grid;
        grid-template-areas: 
        "1 2 3 4" !important;
    }
    #follow-us-img {
        width: 30% !important;
    }
    #bottom_nav {
    display: flex !important;
    background: $primary-color;
    justify-content: space-around;
    padding: 0 10% 0 10%;
    .bottom-heading {
            height: 100px;
            text-align: center;
            a {
                position: relative;;
                color: white;
            }
        }
    }


    #form-breakpoint {
        display: flex !important;
        gap: 15%;
        input {
            width: 130% !important;
            gap: 20px;
        }
    }
    #support-contact {
        display: flex !important;
        gap: 10%;
        align-content: stretch;
        #support-nav:hover {
            background-color: #2a6ec6 !important;
        }
        #support-nav {
            background-color: #4183d7;
            position: relative;
            color: white;
            border-radius: 3px;
            padding: 0px;
            vertical-align: bottom;
            text-align: center;
            width: 150px;
            margin-left: 40px;
            a {
                color: white;
                position: relative;
                text-align: center;
                top: 20px;
                                font-size: 18px;

                span {
                    color: white;
                    position: relative;
                    vertical-align: middle;
                }
            }
        }
    
    
        #contact-nav {
            background-color: #999aa2;
            position: relative;
            color: white;
            border-radius: 3px;
            padding: 0px;
            vertical-align: bottom;
            text-align: center;
            width: 150px;
            a {
                text-decoration: none;
                color: white;
                position: relative;
                text-align: center;
                top: 20px;
                font-size: 18px;
                span {
                    color: white;
                    position: relative;
                    vertical-align: middle;
                }
            }
       }
    }
}



@media (min-width: 1260px) {
    .container {
        width:1200px
    }
    #why-choose-us-buttons, #reviews {
        display: flex;
        flex-wrap: nowrap;
        
            a { 
                display: flex;
                font-size: 20px;
                position: relative;

                span {
                    position: relative;
                    
                }


        }
    }
    #cover-img {
        position: relative;
        right: 10px;
        background: url("../assets/images/home-O67Y.webp") 100% no-repeat !important;
        width: auto;
    }
    .f-logo {
        position: relative;
        top: 0px !important;
    }
    #news-section .card-news .news-photo {
        width: auto !important;
        justify-content: center;
    }
    
    #two-cards {
        position: relative;
        right:20%;
        width: 100%;
    }
    
    #jamie {
        display: block;
    }
    #jamie-bottom {
        width: auto;
    }

    #email-signup-middle {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 50%;
        justify-content: center;
        a {
            width: 150px !important;
        }

    }
    #our-services-latest-news a:last-child {
        text-align: right;
    }

    


    #about-card {
        margin: 40px;
    }
    #welcome-width {
        width: 50% !important;
        display: flex;
        margin: 0 auto;
    }

    #information {
        display: flex;
        justify-content: space-around;
        #about-section {
            display: inline-flex;
            justify-content: space-around;
            .about-card {
                margin-right: 100px;
            }
        }
    }
    #view-container2 {
        display: none;
    }
    #follow-us-img {
        width: 300px !important;
    }
    footer p {
        position: relative;
        left: 150px;
    }
}