$bespoke-color: #67809f;
$it-support-color: #4183d7;
$digital-marketing-color: #2ecc71;
$telecom-color: #d64541;
$web-design-color: #926fb1;
$cyber-security-color: #f62459;
$developer-training-color: #ce4125;
$primary-color: #333645;