/* line 1, ../XAMPP/htdocs/projects/Netmatters/_sass/_global.scss */
a {
  text-decoration: none;
}

/* line 5, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
html, body {
  width: 100vw !important;
  max-width: 100vw;
}

/* line 9, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#top_nav {
  position: sticky;
}

/* line 11, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#top_nav .nav-buttons {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

/* line 17, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#top_nav img {
  top: 15px;
  position: relative;
}

/* line 21, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#top_nav a {
  text-decoration: none;
  padding-top: 10px;
}

/* line 24, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#top_nav a span {
  font-size: 30px;
  color: #333645;
}

/* line 30, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#top_nav button {
  width: 60px;
  background-color: #333645;
  color: white;
  border-radius: 5px;
}

/* line 36, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#top_nav button span {
  font-size: 40px;
  font-weight: bold;
  vertical-align: middle;
}

/* line 45, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#sidebar {
  display: none;
}

/* line 49, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#sidebar-button-close {
  display: none;
}

/* line 55, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.cover-img {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 100vw;
  background: center no-repeat;
  text-align: center;
  color: white;
  justify-content: center;
  background-image: url("../assets/images/home-O67Y.webp");
}

/* line 66, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.cover-img-transparency {
  background: rgba(0, 0, 0, 0.3);
}

/* line 71, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.cover-img-transparency h1 {
  font-size: 42px;
  font-weight: bold;
}

/* line 75, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.cover-img-transparency h2 {
  font-size: 20px;
  font-weight: bold;
}

/* line 79, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.cover-img-transparency a {
  font-size: 20px;
  border-radius: 5px;
  color: white;
  padding: 20px;
  background-color: #67809f;
}

/* line 85, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.cover-img-transparency a span {
  position: relative;
  left: 5px;
  vertical-align: bottom;
}

/* line 93, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.button {
  background-color: #67809f;
  color: white;
}

/* line 97, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#consulation-arrow {
  margin-right: 20%;
  position: absolute;
}

/* line 101, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.search-box {
  position: relative;
  width: 93vw;
  height: 50px;
  margin-top: -20px;
  margin-bottom: 20px;
}

/* line 110, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.search-box input {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding-right: 50px;
}

/* line 117, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.search-box span {
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  top: 0;
  right: 10px;
  transform: translateY(50%);
}

/* line 127, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#our-services {
  font-size: 40px;
  font-weight: bold;
}

/* line 137, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.card-services {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background: #ffffff;
}

/* line 147, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.card-services a {
  font-size: 20px;
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5%;
}

/* line 156, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.card-services small {
  margin: 0 20px;
}

/* line 160, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.card-services:hover {
  color: white !important;
}

/* line 163, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.card-services:hover span, .card-services:hover a {
  background: white !important;
}

/* line 168, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.card-services span {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: white;
}

/* line 179, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.card-services#bespoke-card span,
.card-services#bespoke-card a, .card-services#bespoke-card:hover,
.card-services#bespoke-card:hover span,
.card-services#bespoke-card:hover a {
  background-color: #67809f;
  color: #67809f;
}

/* line 187, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.card-services#bespoke-card span, .card-services#bespoke-card a {
  color: white;
}

/* line 193, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.card-services#it-support-card span,
.card-services#it-support-card a, .card-services#it-support-card:hover,
.card-services#it-support-card:hover span,
.card-services#it-support-card:hover a {
  background-color: #4183d7;
  color: #4183d7;
}

/* line 201, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.card-services#it-support-card span, .card-services#it-support-card a {
  color: white;
}

/* line 207, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.card-services#digital-marketing-card span,
.card-services#digital-marketing-card a, .card-services#digital-marketing-card:hover,
.card-services#digital-marketing-card:hover span,
.card-services#digital-marketing-card:hover a {
  background-color: #2ecc71;
  color: #2ecc71;
}

/* line 215, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.card-services#digital-marketing-card span, .card-services#digital-marketing-card a {
  color: white;
}

/* line 221, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.card-services#telecoms-card span,
.card-services#telecoms-card a, .card-services#telecoms-card:hover,
.card-services#telecoms-card:hover span,
.card-services#telecoms-card:hover a {
  background-color: #d64541;
  color: #d64541;
}

/* line 229, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.card-services#telecoms-card span, .card-services#telecoms-card a {
  color: white;
}

/* line 235, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.card-services#web-design-card span,
.card-services#web-design-card a, .card-services#web-design-card:hover,
.card-services#web-design-card:hover span,
.card-services#web-design-card:hover a {
  background-color: #926fb1;
  color: #926fb1;
}

/* line 243, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.card-services#web-design-card span, .card-services#web-design-card a {
  color: white;
}

/* line 249, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.card-services#cyber-security-card span,
.card-services#cyber-security-card a, .card-services#cyber-security-card:hover,
.card-services#cyber-security-card:hover span,
.card-services#cyber-security-card:hover a {
  background-color: #f62459;
  color: #f62459;
}

/* line 257, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.card-services#cyber-security-card span, .card-services#cyber-security-card a {
  color: white;
}

/* line 263, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.card-services#developer-training-card span,
.card-services#developer-training-card a, .card-services#developer-training-card:hover,
.card-services#developer-training-card:hover span,
.card-services#developer-training-card:hover a {
  background-color: #ce4125;
  color: #ce4125;
}

/* line 271, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.card-services#developer-training-card span, .card-services#developer-training-card a {
  color: white;
}

/* line 282, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#email-signup {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100vw;
  padding-top: 40px;
  margin-bottom: 50px;
}

/* line 287, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#email-signup h1 {
  font-size: 38px;
}

/* line 290, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#email-signup label {
  padding-top: 5px;
  font-size: 20px;
}

/* line 294, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#email-signup input {
  width: 100%;
  padding: 16px;
}

/* line 298, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#email-signup .required {
  color: red;
}

/* line 301, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#email-signup #subscribe {
  color: white;
  background-color: #333645;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
}

/* line 312, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#custom-checkbox .media-left .checkbox-button input {
  opacity: 0;
  height: 0;
  width: 0;
}

/* line 320, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#custom-checkbox #checkmark {
  position: relative;
  top: 25px;
  padding: 2px 13px;
  border: 3px solid #333645 !important;
  border-radius: 2px;
}

/* line 327, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#custom-checkbox #checkmark:active {
  background-color: #333645;
}

/* line 336, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#welcome-to-netmatters {
  background-color: #2e2f36;
  padding-bottom: 60px;
  margin-bottom: 30px;
  text-decoration: none;
  color: white;
}

/* line 342, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#welcome-to-netmatters h1 {
  font-size: 40px;
}

/* line 345, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#welcome-to-netmatters a {
  text-decoration: none;
  color: white;
}

/* line 349, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#welcome-to-netmatters p {
  font-size: 18px;
}

/* line 352, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#welcome-to-netmatters strong {
  font-size: 18px;
}

/* line 359, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#view-container, #view-container2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

/* line 365, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#view-container a, #view-container2 a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 25px;
}

/* line 371, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#view-container span, #view-container2 span {
  vertical-align: bottom;
  margin-bottom: 6.2px;
}

/* line 380, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#work-carousel {
  display: flex;
  padding: 40px 0px;
  size: 250px;
  overflow-x: hidden;
}

/* line 386, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#work-carousel img {
  padding: 0 20px;
  filter: grayscale(100%);
}

/* line 390, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#work-carousel :hover {
  filter: grayscale(0%) !important;
}

/* line 395, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.button-primary {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 30px;
  background-color: #272936;
  border-radius: 5px;
  box-sizing: border-box;
}

/* line 405, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#stars {
  font-size: 55px;
}

/* line 409, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#quote {
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
}

/* line 415, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#quote-author {
  font-size: 20px;
  font-weight: bold;
  color: grey;
}

/* line 421, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#google {
  font-size: 20px;
  font-weight: bold;
  background: #4387f6;
  padding: 15px 20px;
  border-radius: 5px;
}

/* line 427, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#google span {
  padding-left: 5px;
  margin-bottom: 6.2px;
  vertical-align: bottom;
}

/* line 434, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#trustpilot {
  font-size: 20px;
  font-weight: bold;
  background: #00b67b;
  padding: 15px 20px;
  border-radius: 5px;
}

/* line 440, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#trustpilot span {
  padding-left: 5px;
  margin-bottom: 6.2px;
  vertical-align: bottom;
}

/* line 448, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section {
  padding-bottom: 30px;
}

/* line 451, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section #ambulance h2, #news-section #ambulance h3 {
  color: #d64541;
}

/* line 454, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section #ambulance .img-container {
  position: relative;
}

/* line 457, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section #ambulance .news-button {
  position: absolute;
  font-size: 15px;
  color: white;
  padding: 2px 4px;
  background-color: #d64541;
  right: 0px;
  top: -15px;
  border-radius: 0%;
}

/* line 468, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section #ambulance a {
  background-color: #d64541;
}

/* line 474, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section #coalition h2 {
  color: #67809f;
}

/* line 477, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section #coalition .img-container {
  position: relative;
}

/* line 480, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section #coalition .news-button {
  position: absolute;
  font-size: 15px;
  color: white;
  padding: 2px 4px;
  background-color: #67809f;
  right: 0px;
  top: -15px;
  border-radius: 0%;
}

/* line 491, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section #coalition a {
  background-color: #67809f;
}

/* line 498, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section #jamie h3 {
  color: #4183d7;
}

/* line 501, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section #jamie .img-container {
  position: relative;
}

/* line 504, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section #jamie .news-button {
  position: absolute;
  font-size: 15px;
  color: white;
  padding: 2px 4px;
  background-color: #4183d7;
  right: 0px;
  top: -15px;
  border-radius: 0%;
}

/* line 515, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section #jamie a {
  background-color: #4183d7;
}

/* line 522, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section .card-news {
  border: 1px solid rgba(207, 207, 207, 0.726);
  background-color: white;
  margin-top: 20px;
}

/* line 526, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section .card-news .news-photo {
  width: 100%;
}

/* line 529, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section .card-news h3, #news-section .card-news h2 {
  font-size: 18px;
  justify-content: center;
  padding: 25px;
}

/* line 533, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section .card-news h3 .minute-read, #news-section .card-news h2 .minute-read {
  color: grey;
}

/* line 543, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section p {
  justify-content: center;
  padding: 0px 25px;
  color: gray;
}

/* line 549, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section a {
  display: inline-block;
  font-weight: bold;
  margin: 25px 0 0 25px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 18px;
}

/* line 559, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section .poster {
  padding-top: 32px;
  border-top: 1px solid rgba(207, 207, 207, 0.726);
  margin: 20px 0px 10px 0px;
  display: inline-flex;
  width: 100%;
  overflow: hidden;
}

/* line 567, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#news-section .poster .avatar {
  border-radius: 50%;
  overflow: hidden;
  height: 50px;
  width: 50px;
  margin-left: 30px;
  margin-bottom: 20px;
}

/* line 579, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#view-container2 {
  margin-bottom: 50px;
}

/* line 580, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#view-container2 img {
  width: 60%;
}

/* line 586, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#information {
  background-color: #2e2f36;
  color: white !important;
  text-decoration: none;
}

/* line 590, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#information a {
  color: white;
}

/* line 593, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#information ul {
  list-style-type: none;
  display: inline;
}

/* line 599, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
footer {
  font-size: 15px;
  color: white;
  background-color: #212330;
}

/* line 605, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.socials {
  display: grid;
  grid-template-areas: "facebook linkedin" "twitter instagram";
  grid-template-columns: 20%;
  gap: 35px 40px;
}

/* line 613, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.socials .social-button {
  padding: 20px 40px;
  background-color: #212330;
}

/* line 617, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.socials i {
  position: relative;
  width: 14px;
  font-size: 30px;
  right: 6px;
  top: 5px;
}

/* line 627, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#follow-us-img {
  margin: 20px 0 10px 0;
  width: 75%;
}

/* line 632, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  text-decoration: none;
  color: white;
  border: none;
}

/* line 644, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#manage-consent {
  font-weight: bold;
  background-color: #75788a;
  border-radius: 5px;
  padding: 2px 5px 5px 10px;
  position: fixed;
  bottom: -5px;
  left: -5px;
}

/* line 653, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#chat-symbol, #chat-symbol-open {
  font-weight: bold;
  background-color: #333645;
  border-radius: 50%;
  position: fixed;
  padding: 15px;
  right: 25px;
  bottom: 20px;
  box-shadow: 0px 5px 5px #212330;
}

/* line 662, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#chat-symbol span, #chat-symbol-open span {
  vertical-align: middle;
  font-size: 35px;
}

/* line 667, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#chat-symbol-open {
  display: none;
}

/* line 672, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#sofia-popup {
  display: none;
  position: fixed;
  text-align: center;
  border-radius: 6px;
  z-index: 10;
}

/* line 678, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#sofia-popup #threecx {
  text-align: right;
  position: relative;
  right: 15px;
  top: 5px;
  color: white;
}

/* line 685, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#sofia-popup #sofia-top {
  background-color: #333645;
}

/* line 687, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#sofia-popup #sofia-top img {
  border-radius: 50%;
  border: 1px solid #333645;
  padding: 2px;
  margin-bottom: -30px;
  width: 35%;
  height: 35%;
}

/* line 696, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#sofia-popup h1 {
  font-size: 20px;
  font-weight: bold;
}

/* line 700, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#sofia-popup #sofia-fields {
  text-align: left;
  padding: 5%;
}

/* line 703, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#sofia-popup #sofia-fields input {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

/* line 708, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#sofia-popup #sofia-fields #sofia-required {
  font-size: 12px;
}

/* line 715, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#sofia-required {
  color: red;
}

/* line 720, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#sofia-submit {
  width: 100%;
  margin-top: 50px;
  border: none;
  background: #494949;
  color: white;
  vertical-align: middle;
  font-size: 20px;
}

/* line 728, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#sofia-submit span {
  padding-top: 10px;
  top: 20px;
  vertical-align: bottom;
}

/* line 736, ../XAMPP/htdocs/projects/Netmatters/_sass/styles.scss */
#sticky-sofia {
  position: sticky;
}

/*# sourceMappingURL=styles.css.map */